#heading {
  display: grid;
  color: black;
  height: 50vh;
  align-content: center;
  justify-items: center;
}
#heading h3,
#comming_soon {
  color: #f69b3e;
  font-weight: bold;
  font-size: medium;
}
#heading h1 {
  font-weight: 900;
}
#card_hover :hover {
  background-color: #f69b3e;
  .cardColorHover {
    color: #f8f8f8;
  }
}
#card_sec {
  margin: 6vw;
}
#card_img {
  width: 9vw;
  border-radius: 6vw;
}
#img_and_title {
  padding-top: 2vw;
  padding-left: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 3vh;
  color: #000;
}
#langName {
  color: black;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}
#langDisc {
  margin-top: 20px;
  font-size: 18px;
  line-height: 30px;
}
.cardColorHover {
  color: grey;
  transition: 0.5s;
}
#card_img_title {
  background-image: linear-gradient(150deg, #fd612451, #ff953f4f, #f7b27a4b);
}
