#space {
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  padding-top: 4vh;
  margin-bottom: 10vh;
}
#space h2 {
  display: flex;
  font-size: 4vh;
  font-weight: 700;
  text-transform: uppercase;
}
#space h1 {
  display: flex;
  font-size: 20vh;
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  #space h2 {
    font-size: 2vh;
  }
  #space h1 {
    font-size: 10vh;
  }
}
